flows.json
[{"id":"33113ebf.b7ab5a","type":"tab","label":"mqtt sonoff","disabled":false,"info":""},{"id":"67f646d6.7194e","type":"tab","label":"sonoff","disabled":false,"info":""},{"id":"e890f96e.16e5e8","type":"tab","label":"PIR","disabled":false,"info":""},{"id":"afd6855e.34ef48","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"6fd4eb9a.4beb74","type":"tab","label":"Email Alarm","disabled":false,"info":""},{"id":"777fa2fb.4a835c","type":"tab","label":"Intrusion Notify Center","disabled":false,"info":""},{"id":"92ef9913.516d18","type":"tab","label":"Alarm","disabled":false,"info":""},{"id":"c1cf6532.6599f8","type":"tab","label":"Lannouncer","disabled":false,"info":""},{"id":"b96def99.67655","type":"tab","label":"Harmony","disabled":false,"info":""},{"id":"245475c.bfefa8a","type":"tab","label":"Video","disabled":false,"info":""},{"id":"9f647b77.49b1d8","type":"tab","label":"Hik XML","disabled":false,"info":""},{"id":"4dc16e13.05666","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"6fedc079.6d59c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f06e7ac3.ad5368","type":"mqtt-broker","z":"","name":"mosquitto","broker":"192.168.0.123","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55f41145.4c20e","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"725ef192.ed8c3","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e409843.8944178","type":"ui_tab","z":"","name":"Hikvision","icon":"dashboard","order":1},{"id":"2769541b.60a01c","type":"ui_group","z":"","name":"Sonoff 1","tab":"e409843.8944178","order":1,"disp":true,"width":"6","collapse":false},{"id":"dce87603.0d03d8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"3de96dc.d630592","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"b303288d.7ddc18","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"e0b4aaf7.14b0b","type":"hass-config","z":0,"host":"http://192.168.0.10","port":"8123"},{"id":"73117cc.8e0e884","type":"ui_group","z":"","name":"Email","tab":"e409843.8944178","order":2,"disp":true,"width":"6","collapse":false},{"id":"f912a1a4.72125","type":"ui_group","z":"","name":"Intrusion Notify Center","tab":"e409843.8944178","order":3,"disp":true,"width":"6","collapse":false},{"id":"7454a371.8c994c","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2},{"id":"e2d3fcb2.cc907","type":"ui_group","z":"","name":"Lights","tab":"7454a371.8c994c","order":1,"disp":true,"width":"6","collapse":false},{"id":"795a6fa9.2e07d","type":"harmony-server","z":"","name":"Harmony","ip":"192.168.0.21"},{"id":"4a47deb.0beee2","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"617cff17.9d932","type":"ui_group","z":"","name":"Video","tab":"4a47deb.0beee2","disp":true,"width":"6","collapse":false},{"id":"6e879277.b4bf0c","type":"ui_group","z":"","name":"Eléments d'entrée","tab":"","order":1,"disp":true,"width":"8"},{"id":"2379df89.5de02","type":"ui_group","z":"","name":"Formulaire","tab":"","order":2,"disp":true,"width":"8"},{"id":"4322406a.bb8fe","type":"ui_group","z":"245475c.bfefa8a","name":"Journal des événements du Dashboard","tab":"","order":3,"disp":true,"width":"8"},{"id":"e4373ce7.5c26","type":"googlehome-config-node","z":0,"ipaddress":"192.168.0.196","language":"en"},{"id":"8d2c8782.5ca228","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"7cc14022.de4918","type":"debug","z":"33113ebf.b7ab5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":120,"wires":[]},{"id":"78932f13.fa34c8","type":"mqtt in","z":"33113ebf.b7ab5a","name":"sonoff_1","topic":"#","qos":"2","broker":"f06e7ac3.ad5368","x":100,"y":120,"wires":[["7cc14022.de4918"]],"outputLabels":["payload"]},{"id":"20eca001.d253f","type":"mqtt out","z":"33113ebf.b7ab5a","name":"","topic":"cmnd/sonoff_2/POWER","qos":"","retain":"","broker":"f06e7ac3.ad5368","x":350,"y":340,"wires":[],"inputLabels":["msg.payload"]},{"id":"49005795.7b7708","type":"inject","z":"33113ebf.b7ab5a","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["20eca001.d253f","7cc14022.de4918","44fee89c.b385e"]]},{"id":"2aadbed7.01397a","type":"inject","z":"33113ebf.b7ab5a","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["20eca001.d253f","7cc14022.de4918","44fee89c.b385e"]]},{"id":"44fee89c.b385e","type":"mqtt out","z":"33113ebf.b7ab5a","name":"","topic":"cmnd/sonoff_1/POWER","qos":"","retain":"","broker":"f06e7ac3.ad5368","x":350,"y":260,"wires":[],"inputLabels":["msg.payload"]},{"id":"231542e1.236ade","type":"mqtt in","z":"33113ebf.b7ab5a","name":"sonoff_2","topic":"#","qos":"2","broker":"f06e7ac3.ad5368","x":100,"y":180,"wires":[["7cc14022.de4918"]],"outputLabels":["payload"]},{"id":"c37093f0.258fe","type":"debug","z":"67f646d6.7194e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":100,"wires":[]},{"id":"c463dbe0.d799a8","type":"Sonoff device","z":"67f646d6.7194e","mode":"0","broker":"f06e7ac3.ad5368","device":"sonoff_1","name":"sonoff_1","onValue":"ON","offValue":"OFF","cmdPrefix":"cmnd","statPrefix":"stat","telePrefix":"tele","x":132,"y":242.9999828338623,"wires":[["c37093f0.258fe"]]},{"id":"1ecd7269.2ec10e","type":"e-mail","z":"67f646d6.7194e","server":"smtp.gmail.com","port":"587","secure":false,"name":"mckinsey01@gmail.com","dname":"gmail","x":370,"y":240,"wires":[]},{"id":"e18dc7cd.cbe538","type":"debug","z":"afd6855e.34ef48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":471.82078552246094,"y":182.33019256591797,"wires":[]},{"id":"cf51109f.5f7d8","type":"mqtt in","z":"afd6855e.34ef48","name":"","topic":"#","qos":"2","broker":"f06e7ac3.ad5368","x":313.825439453125,"y":53.91510009765625,"wires":[["e18dc7cd.cbe538"]]},{"id":"21694198.6f186e","type":"http request","z":"e890f96e.16e5e8","name":"Hikvision cmd","method":"PUT","ret":"txt","url":"{{{address}}}","tls":"","x":834.0141792297363,"y":80.02354621887207,"wires":[[]]},{"id":"61e95927.3c7658","type":"function","z":"e890f96e.16e5e8","name":"set request","func":"var p = msg.payload;\nvar t = msg.topic;\nvar ip;\nvar isapi = '/ISAPI/WLAlarm/PIR';\nswitch(t) {\n    case 'door':ip = '192.168.0.55'\n    break;\n    case 'driveway':ip = '192.168.0.53'\n    break;\n    case 'downstairs':ip = '192.168.0.52'\n    break;\n    case 'living room':ip = '192.168.0.50'\n}\n\nmsg.address = \"http://\" + ip + isapi;\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><PIRAlarm><enabled>'+ p +'</enabled><name>PIR Alarm</name></PIRAlarm>';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nreturn msg;","outputs":1,"noerr":0,"x":632.014045715332,"y":81.0235652923584,"wires":[["21694198.6f186e"]]},{"id":"5d78eb41.389a24","type":"debug","z":"e890f96e.16e5e8","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":379.01415634155273,"y":500.0235061645508,"wires":[]},{"id":"13360454.6241fc","type":"ui_switch","z":"e890f96e.16e5e8","name":"","label":"Door","group":"2769541b.60a01c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"door","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":368.9999828338623,"y":25.023582458496094,"wires":[["61e95927.3c7658","6bfc9d33.82e744"]]},{"id":"d87053a7.8891f","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":96.82075309753418,"y":20,"wires":[["13360454.6241fc"]]},{"id":"d7638fed.af53","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.0141429901123,"y":55.33016395568848,"wires":[["13360454.6241fc"]]},{"id":"451c840d.66373c","type":"ui_switch","z":"e890f96e.16e5e8","name":"","label":"Driveway","group":"2769541b.60a01c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"driveway","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":378.17920684814453,"y":83.02357482910156,"wires":[["6bfc9d33.82e744","61e95927.3c7658"]]},{"id":"22620ce.252ebf4","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.99999809265137,"y":95.99999141693115,"wires":[["451c840d.66373c"]]},{"id":"4dd4bf1d.0237f","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.19338798522949,"y":131.33015537261963,"wires":[["451c840d.66373c"]]},{"id":"77321f80.3d02e","type":"ui_switch","z":"e890f96e.16e5e8","name":"","label":"Downstairs","group":"2769541b.60a01c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"downstairs","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":391.1791763305664,"y":140.02356147766113,"wires":[["6bfc9d33.82e744","61e95927.3c7658"]]},{"id":"bdfebc54.ab07c","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":101.9999828338623,"y":171.999981880188,"wires":[["77321f80.3d02e"]]},{"id":"a70e417a.b9608","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.19337272644043,"y":207.33014583587646,"wires":[["77321f80.3d02e"]]},{"id":"8d0061a3.97759","type":"ui_switch","z":"e890f96e.16e5e8","name":"","label":"Living Room","group":"2769541b.60a01c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"living room","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":392.17920684814453,"y":200.02357292175293,"wires":[["6bfc9d33.82e744","61e95927.3c7658"]]},{"id":"35ae1201.31b1be","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104.99999809265137,"y":246.00000095367432,"wires":[["8d0061a3.97759"]]},{"id":"471e3db7.f18dc4","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106.19338798522949,"y":281.3301649093628,"wires":[["8d0061a3.97759"]]},{"id":"bd4d9c92.e3558","type":"ui_switch","z":"e890f96e.16e5e8","name":"","label":"All","group":"2769541b.60a01c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"all","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":238.01412963867188,"y":353.0235900878906,"wires":[["8d0061a3.97759","77321f80.3d02e","451c840d.66373c","13360454.6241fc","17ed7a89.e9f185"]]},{"id":"62c5c930.ffdbc8","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.01414489746094,"y":340.0235996246338,"wires":[["bd4d9c92.e3558"]]},{"id":"11bacc5.d697434","type":"inject","z":"e890f96e.16e5e8","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109.20753479003906,"y":375.35376358032227,"wires":[["bd4d9c92.e3558"]]},{"id":"56f909d2.47e9d8","type":"ui_audio","z":"e890f96e.16e5e8","name":"","group":"2769541b.60a01c","voice":"en-GB","always":true,"x":816.0141410827637,"y":140.02351570129395,"wires":[]},{"id":"6bfc9d33.82e744","type":"function","z":"e890f96e.16e5e8","name":"set audio","func":"var truefalse = msg.payload;\nvar device = msg.topic;\nvar state;\nif(truefalse == 'true') {state='Enabled'} else {state='disabled'}\nmsg.payload = device + ' pee i r ' + state;\nreturn msg;","outputs":1,"noerr":0,"x":623.0140647888184,"y":140.02352905273438,"wires":[["56f909d2.47e9d8","4b34c8af.ea6728"]]},{"id":"360bd677.2c229a","type":"http request","z":"6fd4eb9a.4beb74","name":"Hikvision cmd","method":"PUT","ret":"txt","url":"{{{address}}}","tls":"","x":828.0141582489014,"y":82.02354621887207,"wires":[["7a28539f.09789c"]]},{"id":"6ce535cb.d098bc","type":"function","z":"6fd4eb9a.4beb74","name":"set request","func":"var p = msg.payload;\nvar t = msg.topic;\nvar ip;\nvar isapi = '/ISAPI/System/Network/mailing';\nswitch(t) {\n    case 'door':ip = '192.168.0.55'\n    break;\n    case 'driveway':ip = '192.168.0.53'\n    break;\n    case 'downstairs':ip = '192.168.0.52'\n    break;\n    case 'living room':ip = '192.168.0.50'\n}\n\nmsg.address = \"http://\" + ip + isapi;\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?><mailingList><mailing><id>1</id><sender><name>Hikvision</name><emailAddress>mckinsey01@gmail.com</emailAddress><smtp><enableAuthorization>'+p+'</enableAuthorization><enableTLS>true</enableTLS><startTLS>true</startTLS><addressingFormatType>hostname</addressingFormatType><hostName>smtp.gmail.com</hostName><portNo>587</portNo><accountName>mckinsey01@gmail.com</accountName></smtp></sender><receiverList><receiver><id>1</id><name>mckinsey</name><emailAddress>mckinsey01@gmail.com</emailAddress></receiver><receiver><id>2</id><name/><emailAddress/></receiver><receiver><id>3</id><name/><emailAddress/></receiver></receiverList><attachment><snapshot><enabled>true</enabled><interval>5</interval></snapshot></attachment></mailing></mailingList>';\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nreturn msg;","outputs":1,"noerr":0,"x":626.0140247344971,"y":83.0235652923584,"wires":[["360bd677.2c229a"]]},{"id":"7a28539f.09789c","type":"debug","z":"6fd4eb9a.4beb74","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":835.014139175415,"y":25.02353858947754,"wires":[]},{"id":"f1f820d.1fdb8e","type":"ui_switch","z":"6fd4eb9a.4beb74","name":"","label":"Door","group":"73117cc.8e0e884","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"door","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":362.99996185302734,"y":27.023582458496094,"wires":[["6ce535cb.d098bc","dafd5c22.44299"]]},{"id":"3eb2b677.aed9fa","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90.82073211669922,"y":22,"wires":[["f1f820d.1fdb8e"]]},{"id":"4d3e4dbd.f2ca94","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.01412200927734,"y":57.33016395568848,"wires":[["f1f820d.1fdb8e"]]},{"id":"d4958568.7d41e8","type":"ui_switch","z":"6fd4eb9a.4beb74","name":"","label":"Driveway","group":"73117cc.8e0e884","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"driveway","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":372.17918586730957,"y":85.02357482910156,"wires":[["dafd5c22.44299","6ce535cb.d098bc"]]},{"id":"ef484cc7.98eeb","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92.9999771118164,"y":97.99999141693115,"wires":[["d4958568.7d41e8"]]},{"id":"2a4b3995.85dcb6","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94.19336700439453,"y":133.33015537261963,"wires":[["d4958568.7d41e8"]]},{"id":"c5bc4098.495a3","type":"ui_switch","z":"6fd4eb9a.4beb74","name":"","label":"Downstairs","group":"73117cc.8e0e884","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"downstairs","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":385.17915534973145,"y":142.02356147766113,"wires":[["dafd5c22.44299","6ce535cb.d098bc"]]},{"id":"2b678722.411048","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95.99996185302734,"y":173.999981880188,"wires":[["c5bc4098.495a3"]]},{"id":"903f2a6f.d93378","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":97.19335174560547,"y":209.33014583587646,"wires":[["c5bc4098.495a3"]]},{"id":"69e2ea31.bbd514","type":"ui_switch","z":"6fd4eb9a.4beb74","name":"","label":"Living Room","group":"73117cc.8e0e884","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"living room","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":386.17918586730957,"y":202.02357292175293,"wires":[["dafd5c22.44299","6ce535cb.d098bc"]]},{"id":"e86e5da2.2f9cc","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":98.9999771118164,"y":248.00000095367432,"wires":[["69e2ea31.bbd514"]]},{"id":"2eb0265e.fc2b9a","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100.19336700439453,"y":283.3301649093628,"wires":[["69e2ea31.bbd514"]]},{"id":"7006906f.0415a","type":"ui_switch","z":"6fd4eb9a.4beb74","name":"","label":"All","group":"73117cc.8e0e884","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"all","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":222.0141143798828,"y":357.0235786437988,"wires":[["69e2ea31.bbd514","c5bc4098.495a3","d4958568.7d41e8","f1f820d.1fdb8e"]]},{"id":"12d0f623.3754ba","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":102.01412391662598,"y":342.0235996246338,"wires":[["7006906f.0415a"]]},{"id":"a23f27fd.706a38","type":"inject","z":"6fd4eb9a.4beb74","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103.2075138092041,"y":377.35376358032227,"wires":[["7006906f.0415a"]]},{"id":"eb0984c5.0d75c8","type":"ui_audio","z":"6fd4eb9a.4beb74","name":"","group":"2769541b.60a01c","voice":"en-GB","always":true,"x":810.0141201019287,"y":142.02351570129395,"wires":[]},{"id":"dafd5c22.44299","type":"function","z":"6fd4eb9a.4beb74","name":"set audio","func":"var truefalse = msg.payload;\nvar device = msg.topic;\nvar state;\nif(truefalse == 'true') {state='Enabled'} else {state='disabled'}\nmsg.payload = device + ', email ,' + state;\nreturn msg;","outputs":1,"noerr":0,"x":617.0140438079834,"y":142.02352905273438,"wires":[["eb0984c5.0d75c8","2e0ca2f4.3b531e"]]},{"id":"9c226cfa.4cb11","type":"http request","z":"777fa2fb.4a835c","name":"Hikvision cmd","method":"PUT","ret":"txt","url":"{{{address}}}","tls":"","x":813.01416015625,"y":87.02354621887207,"wires":[["5ff9ae41.1e933"]]},{"id":"6143ce17.b96de","type":"function","z":"777fa2fb.4a835c","name":"set request","func":"var p = msg.payload;\nvar t = msg.topic;\nvar ip;\nvar isapi = '/ISAPI/Event/triggers/fielddetection-1';\nvar pay_on = '<EventTrigger><id>fielddetection-1</id><eventType>fielddetection</eventType><videoInputChannelID>1</videoInputChannelID><EventTriggerNotificationList><EventTriggerNotification><id>record-1</id><notificationMethod>record</notificationMethod><videoInputID>1</videoInputID></EventTriggerNotification><EventTriggerNotification><id>center</id><notificationMethod>center</notificationMethod></EventTriggerNotification></EventTriggerNotificationList></EventTrigger>';\nvar pay_off = '<EventTrigger><id>fielddetection-1</id><eventType>fielddetection</eventType><videoInputChannelID>1</videoInputChannelID><EventTriggerNotificationList><EventTriggerNotification><id>record-1</id><notificationMethod>record</notificationMethod><videoInputID>1</videoInputID></EventTriggerNotification></EventTriggerNotificationList></EventTrigger>';\nswitch(t) {\n    case 'door':ip = '192.168.0.55'\n    break;\n    case 'driveway':ip = '192.168.0.53'\n    break;\n    case 'downstairs':ip = '192.168.0.52'\n    break;\n    case 'living room':ip = '192.168.0.50'\n}\nmsg.address = \"http://\" + ip + isapi;\nif(p == 'true') {msg.payload = pay_on} else {msg.payload = pay_off}\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nreturn msg;","outputs":1,"noerr":0,"x":611.0140266418457,"y":88.0235652923584,"wires":[["9c226cfa.4cb11"]]},{"id":"5ff9ae41.1e933","type":"debug","z":"777fa2fb.4a835c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":820.0141410827637,"y":30.02353858947754,"wires":[]},{"id":"9c10da37.536878","type":"ui_switch","z":"777fa2fb.4a835c","name":"","label":"Door","group":"f912a1a4.72125","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"door","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":347.999963760376,"y":32.023582458496094,"wires":[["6143ce17.b96de","b1b23642.a60768"]]},{"id":"c29f88ff.9c7868","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":75.82073402404785,"y":27,"wires":[["9c10da37.536878"]]},{"id":"2dd7e4f4.edb10c","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":77.01412391662598,"y":62.33016395568848,"wires":[["9c10da37.536878"]]},{"id":"10c3f5ce.3aefda","type":"ui_switch","z":"777fa2fb.4a835c","name":"","label":"Driveway","group":"f912a1a4.72125","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"driveway","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":357.1791877746582,"y":90.02357482910156,"wires":[["b1b23642.a60768","6143ce17.b96de"]]},{"id":"bafe7bcc.2c5b48","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":77.99997901916504,"y":102.99999141693115,"wires":[["10c3f5ce.3aefda"]]},{"id":"d92aec99.0905","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":79.19336891174316,"y":138.33015537261963,"wires":[["10c3f5ce.3aefda"]]},{"id":"6c2eead9.a440e4","type":"ui_switch","z":"777fa2fb.4a835c","name":"","label":"Downstairs","group":"f912a1a4.72125","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"downstairs","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":370.1791572570801,"y":147.02356147766113,"wires":[["b1b23642.a60768","6143ce17.b96de"]]},{"id":"986fca31.98e958","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80.99996376037598,"y":178.999981880188,"wires":[["6c2eead9.a440e4"]]},{"id":"a1417936.ecf6f8","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":82.1933536529541,"y":214.33014583587646,"wires":[["6c2eead9.a440e4"]]},{"id":"91c4e579.a3f4d8","type":"ui_switch","z":"777fa2fb.4a835c","name":"","label":"Living Room","group":"f912a1a4.72125","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"living room","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":371.1791877746582,"y":207.02357292175293,"wires":[["b1b23642.a60768","6143ce17.b96de"]]},{"id":"b079a55.34e2458","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":83.99997901916504,"y":253.00000095367432,"wires":[["91c4e579.a3f4d8"]]},{"id":"ac97d45b.e9a908","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85.19336891174316,"y":288.3301649093628,"wires":[["91c4e579.a3f4d8"]]},{"id":"48c77550.b6110c","type":"ui_switch","z":"777fa2fb.4a835c","name":"","label":"All","group":"f912a1a4.72125","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"all","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":207.01411628723145,"y":362.0235786437988,"wires":[["91c4e579.a3f4d8","6c2eead9.a440e4","10c3f5ce.3aefda","9c10da37.536878"]]},{"id":"1d4dcd08.063be3","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"true","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87.01412582397461,"y":347.0235996246338,"wires":[["48c77550.b6110c"]]},{"id":"c664ae2c.242a5","type":"inject","z":"777fa2fb.4a835c","name":"","topic":"","payload":"false","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.20751571655273,"y":382.35376358032227,"wires":[["48c77550.b6110c"]]},{"id":"5abfcfa8.e86d","type":"ui_audio","z":"777fa2fb.4a835c","name":"","group":"2769541b.60a01c","voice":"en-GB","always":true,"x":795.0141220092773,"y":147.02351570129395,"wires":[]},{"id":"b1b23642.a60768","type":"function","z":"777fa2fb.4a835c","name":"set audio","func":"var truefalse = msg.payload;\nvar device = msg.topic;\nvar state;\nif(truefalse == 'true') {state='Enabled'} else {state='disabled'}\nmsg.payload = device + ', notify, center ,' + state;\nreturn msg;","outputs":1,"noerr":0,"x":602.014045715332,"y":147.02352905273438,"wires":[["5abfcfa8.e86d","22cffec4.64c592"]]},{"id":"9c9ca449.974098","type":"debug","z":"92ef9913.516d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":575.8207969665527,"y":37.96225166320801,"wires":[]},{"id":"fe2b2ec2.bd4b1","type":"ui_text","z":"92ef9913.516d18","group":"2769541b.60a01c","order":0,"width":0,"height":0,"name":"","label":"Alarm","format":"{{msg.payload}}","layout":"row-spread","x":306.81604766845703,"y":123.92450904846191,"wires":[]},{"id":"da880b17.af2a58","type":"server-state-changed","z":"92ef9913.516d18","name":"HASSIO PIR","server":"8d2c8782.5ca228","entityidfilter":"binary_sensor.*_pir_alarm","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":90.81602478027344,"y":125.14149856567383,"wires":[["fe2b2ec2.bd4b1","a4cb8ae8.6e6fb8","ff55c381.9ae07"]],"outputLabels":["topic"]},{"id":"a4cb8ae8.6e6fb8","type":"api-call-service","z":"92ef9913.516d18","name":"Hassio","server":"8d2c8782.5ca228","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.lamp\"}","render_data":false,"mergecontext":"","x":360.8207092285156,"y":235.03301429748535,"wires":[[]]},{"id":"bd06069e.769f28","type":"inject","z":"92ef9913.516d18","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["e750a2cd.ece9d"]]},{"id":"8ed47e7a.c2afb","type":"ui_audio","z":"92ef9913.516d18","name":"","group":"2769541b.60a01c","voice":"en-GB","always":true,"x":569.014232635498,"y":143.0235424041748,"wires":[]},{"id":"e750a2cd.ece9d","type":"ui_switch","z":"92ef9913.516d18","name":"","label":"switch","group":"e2d3fcb2.cc907","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":233.82073974609375,"y":275.4434356689453,"wires":[["a4cb8ae8.6e6fb8"]]},{"id":"ff55c381.9ae07","type":"function","z":"92ef9913.516d18","name":"regex event","func":"var str = msg.topic;\nvar state = msg.payload;\nvar th = str.substr(14);\nvar end = th.length-10;\n//var event = th.substr(0,end);\nmsg.payload = th.substr(0,end).replace('_',' ') + ' alarm ' + state;\nreturn msg;","outputs":1,"noerr":0,"x":302.8207321166992,"y":38.056602478027344,"wires":[["9c9ca449.974098","8ed47e7a.c2afb","ec3eca62.072888"]]},{"id":"d9994801.a94798","type":"H device command","z":"b96def99.67655","name":"Vol+","server":"795a6fa9.2e07d","device":"55413429","label":"Panasonic TV","command":"%7B%22command%22::%22VolumeUp%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2255413429%22%7D","repeat":"1","x":328.00467681884766,"y":95.0235824584961,"wires":[["a1cfdfa.1c6f72"]]},{"id":"71bd0043.b1973","type":"inject","z":"b96def99.67655","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134,"y":94.58018589019775,"wires":[["d9994801.a94798"]]},{"id":"ecdc030c.5c0b8","type":"H device command","z":"b96def99.67655","name":"Vol-","server":"795a6fa9.2e07d","device":"55413429","label":"Panasonic TV","command":"%7B%22command%22::%22VolumeDown%22,%22type%22::%22IRCommand%22,%22deviceId%22::%2255413429%22%7D","repeat":"1","x":328.1980895996094,"y":154.5282917022705,"wires":[["a1cfdfa.1c6f72"]]},{"id":"5cc78e3e.c9795","type":"inject","z":"b96def99.67655","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":134.19810485839844,"y":154.5282917022705,"wires":[["ecdc030c.5c0b8"]]},{"id":"a1cfdfa.1c6f72","type":"debug","z":"b96def99.67655","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":557.8160247802734,"y":117.9575424194336,"wires":[]},{"id":"8ec54927.7b6d98","type":"debug","z":"245475c.bfefa8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":612.8113632202148,"y":73.43867301940918,"wires":[]},{"id":"7135f486.79a48c","type":"ui_template","z":"245475c.bfefa8a","group":"617cff17.9d932","name":"","order":1,"width":"6","height":"4","format":"<iframe frameborder=\"0\" scrolling=\"yes\"   width='100%'  \n    height='100%'\n   src=\"http://192.168.0.59:8080/shot.jpg\" name=\"imgbox\" id=\"imgbox\">\n   <p>iframes are not supported by your browser.</p>\n</iframe><br />","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":241.0141143798828,"y":72.0235652923584,"wires":[["8ec54927.7b6d98"]]},{"id":"e8188493.ed7548","type":"ui_template","z":"245475c.bfefa8a","group":"617cff17.9d932","name":"","order":1,"width":"6","height":"4","format":"<img style=\"width: 100%\" ng-src=\"http://admin:1Joseph1@192.168.0.50/ISAPI/Streaming/channels/101/picture\">","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":227.01414489746094,"y":143.02357482910156,"wires":[[]]},{"id":"af0e1eba.33b49","type":"http request","z":"c1cf6532.6599f8","name":"","method":"GET","ret":"txt","url":"http://192.168.0.231:1035/?SPEAK={{payload}}&@DONE@","tls":"","x":290,"y":120,"wires":[["112d95be.cb87ca"]]},{"id":"c0bd2220.1307e","type":"inject","z":"c1cf6532.6599f8","name":"","topic":"","payload":"Hello world","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.78692626953125,"y":46.10227012634277,"wires":[["af0e1eba.33b49"]]},{"id":"112d95be.cb87ca","type":"debug","z":"c1cf6532.6599f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":478.78404235839844,"y":45.815338134765625,"wires":[]},{"id":"22cffec4.64c592","type":"http request","z":"777fa2fb.4a835c","name":"","method":"GET","ret":"txt","url":"http://192.168.0.213:1035/?SPEAK=@ALARM=CHIME&SPEAK={{payload}}&@DONE@","tls":"","x":789.0142059326172,"y":215.00567245483398,"wires":[[]]},{"id":"2e0ca2f4.3b531e","type":"http request","z":"6fd4eb9a.4beb74","name":"","method":"GET","ret":"txt","url":"http://192.168.0.213:1035/?SPEAK=@ALARM=CHIME&SPEAK={{payload}}&@DONE@","tls":"","x":822.0142211914062,"y":244.00567626953125,"wires":[[]]},{"id":"ec3eca62.072888","type":"http request","z":"92ef9913.516d18","name":"","method":"GET","ret":"txt","url":"http://192.168.0.196:1035/?SPEAK=@ALARM=CHIME&SPEAK={{payload}}&@DONE@","tls":"","x":578.0142211914062,"y":196.00565910339355,"wires":[[]]},{"id":"4b34c8af.ea6728","type":"http request","z":"e890f96e.16e5e8","name":"","method":"GET","ret":"txt","url":"http://192.168.0.213:1035/?SPEAK=@ALARM=CHIME&SPEAK={{payload}}&@DONE@","tls":"","x":576.0142440795898,"y":353.0056686401367,"wires":[[]]},{"id":"b4e6f1a9.b4e35","type":"mqtt in","z":"e890f96e.16e5e8","name":"","topic":"hik/pir/switch/set","qos":"2","broker":"f06e7ac3.ad5368","x":98.7840805053711,"y":424.31525802612305,"wires":[["bd4d9c92.e3558","5d78eb41.389a24"]]},{"id":"17ed7a89.e9f185","type":"function","z":"e890f96e.16e5e8","name":"set audio","func":"var truefalse = msg.payload;\nvar device = msg.topic;\nvar state;\nif(truefalse == 'true') {state='Enabled'} else {state='disabled'}\nmsg.payload = device + ' pee i r ' + state;\nreturn msg;","outputs":1,"noerr":0,"x":396.01422119140625,"y":352.005672454834,"wires":[["4b34c8af.ea6728"]]},{"id":"b695d767.784238","type":"debug","z":"92ef9913.516d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":574.0142211914062,"y":412.0055980682373,"wires":[]},{"id":"e53dcd92.4f257","type":"server-events","z":"92ef9913.516d18","name":"","server":"8d2c8782.5ca228","event_type":"","x":157.78692626953125,"y":414.2414321899414,"wires":[["b695d767.784238"]]},{"id":"89378737.236d78","type":"debug","z":"9f647b77.49b1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":694.7840576171875,"y":83.91760349273682,"wires":[]},{"id":"b54f471e.be41f8","type":"http request","z":"9f647b77.49b1d8","name":"","method":"GET","ret":"txt","url":"http://192.168.0.51/ISAPI/Smart/LineDetection/1","tls":"","x":263.7840805053711,"y":84.32101631164551,"wires":[["f1585d4a.0162b","89378737.236d78"]]},{"id":"83c9d03e.3678b","type":"inject","z":"9f647b77.49b1d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":83.78976440429688,"y":83.54828453063965,"wires":[["b54f471e.be41f8"]]},{"id":"f1585d4a.0162b","type":"change","z":"9f647b77.49b1d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"false","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":483.7869338989258,"y":120.00567054748535,"wires":[["89378737.236d78"]]},{"id":"8662e174.caaf1","type":"ui_switch","z":"4dc16e13.05666","name":"","label":"switch","group":"e2d3fcb2.cc907","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":80,"wires":[[]]},{"id":"25b9a805.a8cfa8","type":"ui_audio","z":"6fedc079.6d59c","name":"","group":"2769541b.60a01c","voice":"en-GB","always":true,"x":380,"y":60,"wires":[]},{"id":"c2e72f65.cc7de","type":"debug","z":"6fedc079.6d59c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]},{"id":"2e0a35c9.aea62a","type":"server-state-changed","z":"6fedc079.6d59c","name":"HASSIO All","server":"8d2c8782.5ca228","entityidfilter":"switch.*","entityidfiltertype":"regex","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":150,"y":160,"wires":[["25b9a805.a8cfa8","c2e72f65.cc7de"]],"outputLabels":["topic"]},{"id":"9166304b.98615","type":"alexa-local","z":"6fedc079.6d59c","devicename":"alarm","inputtrigger":false,"x":110,"y":380,"wires":[["25b9a805.a8cfa8","c2e72f65.cc7de"]]},{"id":"4158b9f7.7b4c78","type":"mqtt in","z":"6fedc079.6d59c","name":"","topic":"cmnd/sonoff_1/POWER","qos":"2","broker":"f06e7ac3.ad5368","x":120,"y":260,"wires":[[]]},{"id":"4fca7c5b.bc7cf4","type":"pi-gpiod out","z":"6fedc079.6d59c","name":"rpi","host":"192.168.0.10","port":8888,"pin":"17","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":490,"y":420,"wires":[]},{"id":"cc28f94b.6e63c8","type":"pi-gpiod out","z":"6fedc079.6d59c","name":"rpi_lite","host":"192.168.0.10","port":8888,"pin":"17","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","x":490,"y":340,"wires":[]},{"id":"67c18bb5.2744d4","type":"inject","z":"afd6855e.34ef48","name":"","topic":"","payload":"{'speak':'Hello'}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["12f21345.fcaa3d","57515ef4.7c3ed"]]},{"id":"12f21345.fcaa3d","type":"mqtt out","z":"afd6855e.34ef48","name":"","topic":"wallpanel/mywallpanel2/command","qos":"","retain":"","broker":"f06e7ac3.ad5368","x":480,"y":400,"wires":[]},{"id":"999526e0.fa0cd8","type":"mqtt out","z":"c1cf6532.6599f8","name":"","topic":"","qos":"","retain":"","x":210,"y":300,"wires":[]},{"id":"9782e4ff.62fa68","type":"inject","z":"c1cf6532.6599f8","name":"","topic":"","payload":"{\"speak\":\"hello\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["999526e0.fa0cd8"]]},{"id":"57515ef4.7c3ed","type":"mqtt out","z":"afd6855e.34ef48","name":"","topic":"wallpanel/mywallpaneltablet/command","qos":"","retain":"","broker":"f06e7ac3.ad5368","x":490,"y":520,"wires":[]}]